@model KhoiDepTraiShop.Web.Models.PasswordChangingViewModel

<div class="product-sec1 ">
    <button type="button" data-toggle="collapse" data-target="#passwordChangeBox" id="btnReadyToChangePassword" class="btn"> Đổi mật khẩu</button>
    @{ var reload = "";
        if (ViewData["Reload"] != null)
        {
            reload = ViewData["Reload"].ToString();
        }
    }
    <div id="passwordChangeBox" class="collapse @reload" style="margin-top:10px;">

        @using (Ajax.BeginForm("UpdateUserProfile", "Customer", new AjaxOptions { HttpMethod = "POST" }, new { Id = "user-form" }))
        {
            <div class="row col-xs-4  information-wrapper">

                <div class="controls">
                    @Html.ValidationMessageFor(model => model.OldPassword)
                    @Html.TextBoxFor(p => p.OldPassword, new { @class = "billing-address-name", @placeholder = "mật khẩu hiện tại..." })

                </div>
                <div class="controls">
                    @Html.ValidationMessageFor(model => model.NewPassword)
                    @Html.TextBoxFor(p => p.NewPassword, new { @class = "billing-address-name", @placeholder = "mật khẩu mới..." })
                </div>
                <div class="controls">
                    @Html.ValidationMessageFor(model => model.RetypePassword)
                    @Html.TextBoxFor(p => p.RetypePassword, new { @class = "billing-address-name", @placeholder = "Nhập lại mật khẩu mới..." })
                </div>
                <input type="button" id="saveChangeNewPassword" class="saveChangeOrder" value="Đổi mật khẩu" />
            </div>

        }

    </div>
    <div class="clearfix"></div>
</div>