@model KhoiDepTraiShop.Web.Models.ResetPasswordViewModel
<form action="ResetPassword" method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="styled-input">
            @Html.TextBoxFor(p => p.EmailReset, new { @placeholder = "Email dã dùng để dăng ký..." })
            @Html.ValidationMessageFor(model => model.EmailReset)
        </div>

        <div class="styled-input">
            @Html.PasswordFor(p => p.NewPassword, new { @placeholder = "Nhập mật khẩu mới..." })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="styled-input">
            @Html.PasswordFor(p => p.RetypePassword, new { @placeholder = "Nhập lại mật khẩu..." })
            @Html.ValidationMessageFor(model => model.RetypePassword)
        </div>
        <div class="clearfix"></div>
        <button type="button" id="resetPasswordBtn" class="btn btn-secondary" style="margin-top:5px;">Cập nhật mật khẩu</button>
    </div>
</form>