@model IList<KhoiDepTraiShop.Web.Models.ProductViewModel>
@using KhoiDepTraiShop.Web.Commons;

    <div class="featured-section" id="projects">
        <div class="container">
            <!-- tittle heading -->
            <h3 class="tittle-w3l">
                Có thể bạn quan tâm
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
            <!-- //tittle heading -->
            <div class="content-bottom-in">
                <ul id="flexiselDemo1">
                    @foreach (var hotProduct in Model)
                    {
                        var url = "/" + hotProduct.Alias + ".p-" + hotProduct.Id + ".html";
                        {

                            if (hotProduct.PromotionPrice == null)
                            {
                                hotProduct.PromotionPrice = hotProduct.Price;
                                hotProduct.Price = 0;
                            }
                        }
                        <li>
                            <div class="w3l-specilamk">
                                <div class="speioffer-agile">
                                    <a href="@url">
                                        <img src="@hotProduct.Image" alt="" style="height:150px;width:109px;">
                                    </a>
                                </div>
                                <div class="product-name-w3l">
                                    <h4 style="align-content:center">
                                        <a href="single.html">@hotProduct.Name</a>
                                    </h4>
                                    <div class="info-product-price" style="align-items:center;">
                                        <span class="item_price" style="margin-left:20px;">@Html.DisplayFor(p => hotProduct.PromotionPrice)</span>
                                        <del style="text-align:center">@Html.DisplayFor(p => hotProduct.Price)</del>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        <form action="#" method="post">
                                            <fieldset>
                                                @Html.HiddenFor(p => hotProduct.Id, new { Id = "productId" + hotProduct.Id })
                                                @Html.HiddenFor(p => hotProduct.Name, new { Id = "productName" + hotProduct.Id })
                                                @Html.HiddenFor(p => hotProduct.PromotionPrice, new { Id = "productPromotion" + hotProduct.Id })
                                                @Html.HiddenFor(p => hotProduct.Price, new { Id = "productPrice" + hotProduct.Id })
                                                <input type="submit" name="submit" value="Add to cart" class="button" />
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </div>
